.footer-container {
  max-width: 318px;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #161619;
  border-radius: 0 0 10px 10px;
  padding: 0 50px 0 50px;
}
.twitter-link img {
  width: 25px;
  height: 25px;
}
